<main>
    <form action="/cats/:catId/edit" method="POST" class="cat-form">
        <h2>Edit Cat</h2>
        <label for="name">{{name}}</label>
        <input type="text" id="name" value="Pretty Cat">
        <label for="description">Description</label>
        <textarea
            id="description">{{description}}</textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl" value={{imageUrl}}>
        <label for="group">Breed</label>
        <select id="group">
            <option value="Fluffy Cat">Fluffy Cat</option>
        </select>
        <button>Edit Cat</button>
    </form>
</main>