<main>
    <section class="cats">
        <ul>
            {{#each cats}}
            {{>cat}}
            {{else}}
            <p>There are no cats</p>
            {{/each}}
        </ul>
    </section>
</main>